<ul class="list-group-flush vh-100 overflow-auto position-sticky" id="recipe-list">
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Lexus</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Mercedes</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Audi</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Toyota</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Huyndai</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Vinfast</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">BMW</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">KIA</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Ferarri</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Porsche</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Ford</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Tesla</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Honda</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Maserati</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Lexus</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Mercedes</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Audi</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Toyota</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Huyndai</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Vinfast</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">BMW</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">KIA</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Ferarri</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Porsche</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Ford</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Tesla</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Honda</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark">Maserati</a>
    </li>
</ul>
